{% extends 'base.html.twig' %}

{% block title %}Liste d'appel{% endblock %}

{% block body %}


<div>

    <h1 class="mt-5 text-center">Liste des appels </h1>


        <div class="mx-3" >Test Nom contact: {{contacts.data.0.firstName}}</div>
        {# <div>Test reponse OVH: {{ test }}</div> #}


        <ul class="list-group list-group-flush mt-3">
        {% for contact in contacts.data %}
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        {{contact.title}}{{contact.firstName}} {{contact.lastName}}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Compte lié :{{contact.accountId}}</li>
                        <li class="list-group-item">Email : {{contact.email}}</li>
                        <li class="list-group-item">Téléphone : {{contact.phone}}</li>
                        <li class="list-group-item">Mobile :{{contact.mobile}}</li>
                    </ul>
                </div>

            </li>
        {% endfor %}

</div>
{% endblock %}
