{% extends 'base.html.twig' %}

{% block title %}Liste d'appel{% endblock %}

{% block body %}

<style>

</style>

<div>
    <h1>Liste des appels </h1>


            <div>Test : {{contacts.data.0.firstName}}</div>

        <br>
        <ul class="list-group list-group-flush">
        {% for contact in contacts.data %}
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        {{contact.title}}{{contact.firstName}} {{contact.lastName}}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Compte lié :{{contact.accountId}}</li>
                        <li class="list-group-item">Email : {{contact.email}}</li>
                        <li class="list-group-item">Téléphone : {{contact.phone}}</li>
                        <li class="list-group-item">Mobile :{{contact.mobile}}</li>
                    </ul>
                  </div>

            </li>
        {% endfor %}

</div>
{% endblock %}
